{# @types
from datetime import datetime

created_at: datetime
data: dict[str, str]
#}
{% from "another_template.jinja" import one_macro %}

Hello, {{ data["name"] }}!
Your account was created at {{ created_at }}

{{ one_macro(data["name"]) }}