{# @types
from datetime import datetime
from mymodule import User

# User info
data: User
"""The creation time"""
created_at: datetime
#}

Hello, {{ data.name }}!
Your account was created at {{ created_at }}. 